<div class="modal signout" id="logout" tabindex="-1">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <h5>Are you sure to logout?</h5>
         </div>
         <div class="modal-footer">
            <a href="/logout"><button type="button" class="btn btn-primary">Yes</button></a>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
         </div>
      </div>
   </div>
</div>
 


