<!DOCTYPE html>
<%- include('../partials/head') %>

   <body>
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                  <div class="d-flex justify-content-center py-4">
                  </div>
                        <h1><b>404</b><p>Page Not Found</p></h1><br>
                        <a href="/manager/dashboard"><button class="btn btn-primary">Return Home</button></a>
               </div>
            </div>
         </div>
      </section>

      <%- include('../partials/script') %>
   </body>

   </html>